#player {

  background-color: gray;
  margin:1em;
  /*padding:1em;*/
  text-align: left;

}

#list {

  background-color: red;
  color: white;
  margin:1em;

}
/*

i haven't done css in a while, need the references below

#header {
  list-style-type: none;
  margin:0;
  padding:0;
  text-align: right;
}

li {
  display:inline;
  margin:.25em;
}



#logo {
  /*border: 2px dashed red;
  background-color: green;*/

  margin-left: 15em;
  margin-right:40%;
  margin-top: 10em;
  width:40em;


  /*margin-top:
  min-height:10em;*/
}

#input_box {


  margin-left: 23em;
  margin-right: 40%;
  width: 25em;
  margin-top: 2em;

}

#search_buttons {
  margin-left: 5em;
  margin-right:40%;
  margin-top: 1em;
  width: 40em;

  /*ideally, the search buttons, logo and search field thing should all be one element based on how they move, encapsulated in a div maybe*/
}

#footer_left {
  list-style-type: none;
  margin:0;
  padding:0;
  text-align: left;
  margin-top: 5em;
}
*/